@charset "UTF-8";



#pet_area {
    
    width: 800px;
    margin: 0 auto;
}

.pets {
    font-family: Verdana,  Tahoma, sans-serif;
    background-color: lightcoral;
    font-size: 18pt;
    padding: 10pt;
    margin: 10pt;
    float: left;
    width: 200px;
}



#score {
    font-size: 24pt;
}