<!--<div ng-class="{true:'redbright', false:'redlow'}[status=='red']" class="redlight"></div>
<div ng-class="{true:'grnbright', false:'grnlow'}[status=='green']" class="grnlight"></div>
-->
<div class="headerHTML" compile="headerHTML"></div>

<!--<div ng-show="landmarks.state=='idle'">
  <div class="switch" ng-click="setlandmark('switch', !landmarks.switch)">
    <div ng-class="{true:'switchon', false:'switchoff'}[!!landmarks.switch]"></div>
  </div>-->

  <div ng-show="landmarks.idle=='dirty'" class="page">
    <p>{{missed}}</p>
    <button ng-click="clearDirty()" class="btn-info btn-lg">Clear</button>
  </div>
</div>

<div ng-class="{true:'open', false:'closed'}[landmarks.state=='active']" class="smoothleft"
     ng-style="swipebgstyle">
  <div ng-show="landmarks.page=='ringing'" class="page">
    <p>{{ringText}}</p>
    <button ng-click="accept()" class="btn-success btn-lg">Accept</button>
    <button ng-click="reject(true)" class="btn-danger btn-lg">Reject</button>
    <audio loop><source src="static/ring.mp3" type="audio/mpeg"></audio>
  </div>

  <div ng-show="landmarks.page=='swipesy'" class="page">
    <img ng-class="'arrow'+swipesies[currentSwipe]" id="arrow" src="static/arrow-right.png"
	 height="140px" width="140px"

	 hm-drag-left="swipesying('left', $event)"
	 hm-drag-right="swipesying('right', $event)"
	 hm-drag-up="swipesying('up', $event)"
	 hm-drag-down="swipesying('down', $event)"

	 hm-release="swipesying('release', $event)"/>
  </div>
  <div ng-show="landmarks.page=='preview'" class="page">
    <h5>{{messageHeader}}</h5>
    <p>{{previewText}}</p>
    <button ng-click="showFromPreview()" class="btn-primary btn-lg">{{previewButton}}</button>
  </div>
  <div ng-show="landmarks.page=='message'" class="page">
    <h5>{{messageHeader}}</h5>
    <p>{{fullText}}</p>
    <button ng-click="doneMessage()" class="btn-warning btn-lg">{{messageButton}}</button>
  </div>
</div>






<div class="fodalvis" ng-show="!!landmarks.fodaltype">
  <div class="fodal-popup">

    <form ng-show="landmarks.fodaltype == 'uid'" ng-submit="setTurkUID()">
      <!--<label for="turkuid">TURK UID:</label>-->
      <label for="turkuid">Participant ID:</label>
      <input id="turkuid" ng-model="turkuid" type="text"/>
      <input type="submit" id="submit" value="Login" ng-click="setTurkUID()"/>
    </form>

    <div ng-show="landmarks.fodaltype == 'fail'">
      <p> failed to join room </p>
      <button ng-click="setlandmark('fodaltype', false)">Dismiss</button>
    </div>

  </div>
</div>
