@charset "UTF-8";



#pet_area {
    
    width: 800px;
    margin: 0 auto;
}

.pets {
    font-family: Verdana,  Tahoma, sans-serif;
    font-size: 18pt;
    padding: 10pt;
    margin: 10pt;
    float: left;
    width: 200px;
}



#score {
    font-size: 24pt;
}

#submitButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    padding: 10pt;
    margin: 10pt;
    top: 500px;
    left: 200px;
}