<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Pethospital Start</title>
        <link rel="stylesheet" type="text/css" href="/static/pethospital.css"/>
        
        <script type="text/javascript">
            window.onload = function(e){
                document.getElementById('eventTime').value = Date.now()
            } 
            
        </script>
       
    
    </head>
    <body>
        <div id="header">
            Welcome to the pethospital experiment.
            Please enter the following information.
        </div>
        <div id="form">
        <form id= "RegisterUser" name="RegisterUser" 
                method="POST"  onsubmit="return">
            <p>
                <label for="id">Participant ID (from your form)</label>
                <input name="id" id="id" type="number" required>
            </p>
            <p>
                <label for="age">Age: </label>    
                <input name="age" id="age" type="number" required min="18" max="120">
            </p>
            <p>
                <fieldset>
                <label for="gender">Gender: </label>
                <input type="radio" required name="gender" id="male" value="male">
                <label for="male">Male</label>
                <input type="radio" required name="gender" id="female" value="female">
                <label for="female">Female</label>
                <input type="radio" required name="gender" id="other" value="other">
                <label for="other">Other / Prefer not to disclose</label>
                </fieldset>
                
            </p>
               <input type="hidden" name = "eventTime" id="eventTime" value=1234>
            <p>
                <button>Submit</button>
            </p>                
            </table>    
        </form>
    </div>
    </body>
    </html>