<!DOCTYPE html>

<html>
    <head>

        <script type="text/javascript">
        var socket;
    var data2 = [];
    if ( !window.WebSocket ) {
        window.WebSocket = window.MozWebSocket;
    }
    if ( window.WebSocket ) {
        var reconnectInterval = 1000 * 60;
        var connect = function () {
            var count = 0;
            socket = new WebSocket( "wss://api.neurosteer.com/api/v1/features/{{bluetooth}}/real-time/?access_token={{creds}}" );
		socket.onmessage = function ( event ) {
			record = JSON.parse( event.data ); // convert to JSON
			// put your business logic here
			console.log(  record.features ); // print list of biomarkers
		};
		socket.onopen = function ( event ) {
			var ta = document.getElementById( 'responseText' );
			console.log(   "Web Socket opened!" );
		};
		socket.onerror = function () {
			console.log( 'socket error' );
			setTimeout( connect, reconnectInterval );
		};
		socket.onclose = function ( event ) {
			console.log( 'socket close' );
			var ta = document.getElementById( 'responseText' );
			console.log(  "Web Socket closed, reconnect in " + reconnectInterval + " msec" );
			setTimeout( connect, reconnectInterval );
		};
	};
	connect();
} else {
	alert( "Your browser does not support Web Socket." );
}

        </script>
    </head>

    <body>
        <h1>NEUROFEEDBACK EXAMPLE</h1>
        <div>{{creds}}</div>
        <div>{{bluetooth}}</div>
        
        <div id = "bioFeedback">

        </div>
    </body>

</html>