<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>Pethospital Task</title>
        <link rel="stylesheet" type="text/css" href="/static/pethospital.css"/>
        <link rel="stylesheet" type="text/css" href="/static/messageView.css"/>
        
    </head>
  
    <body  onload="start()">
        <section id="test_pet_area">
            <script type="text/javascript" src="/static/pethospital.js"></script>
            <script type="text/javascript" src="/static/myStation.js"></script>
            <script type="text/javascript" src="/static/logEvents.js"></script>
            <script  type="text/javascript" src="/static/gameScore.js"></script>
            <script defer type="text/javascript" src="/static/messageView.js"></script>
        </section>
        
        <div id="mV">
            <audio id="audio" src="/static/beep-07.wav" autostart="false" ></audio>
            <div class="alwayson" id=heading>
            myChat application
            </div>
            <div class="notify" id=subheading>
                Incoming message:<br>Number witheld.
            </div>
            <div class="messagetext" id=messageText >
                <b>Pet needs attention</b>
                <p>The pet number 4 seems to need attention more frequently than it's neighbors.
                
                </p>

            </div>

            <div class="buttons" id=buttons>
                <button id="readButton" onclick="readButtonPressed()"  >Read</button>
                <button id="delayButton" onclick="delayButtonPressed()"  >Delay</button>
                <button id="closeButton" onclick="closeButtonPressed()"  >Close</button>
            </div>
            <div class="cost" id=shapes>
                <img class="shape" id = "circle" src="/static/circle.gif">
                <img class="shape"  id="triangle" src="/static/triangle.gif">
                <img class="shape"  id="square" src="/static/square.gif">
                
                <div id="shapeButtons">
                    <button id="square" onclick="shapeButtonPressed(this.id)" >Square</button>
                    <button id="triangle"onclick="shapeButtonPressed(this.id)"  >Triangle</button>
                    <button id="circle" onclick="shapeButtonPressed(this.id)" >Circle</button>
                </div>
            </div>
        </div>

        


        <script type="text/javascript">
            var duration = 60*4;  //currently set the experiment to 4 minutes
            //duration = {{duration}};
            
            //Notify almost every 30 seconds with some unpredictable offset (7 interruptions)
            var notificationTimes = [211,179,150,118,91,62,29];
            var headStr = 'Incoming Pet Hospital Message';
            var notificationHeadings = [headStr,headStr,headStr,headStr,headStr,headStr,headStr];
            var notificationTexts = [];
            notificationTexts.push('Remember to keep the health levels positive.')
            notificationTexts.push('Your current score is ')
            notificationTexts.push('Your current score is ');
            notificationTexts.push('Not all of the pets get ill at the same rate.');
            notificationTexts.push('Your current score is ');
            notificationTexts.push('Remember to keep focussed on your pets.');
            notificationTexts.push('Your current score is ');
            var displayScore = [false, true, true, false,true,false, true];

            nextNotification = [notificationTimes.pop(), notificationHeadings.pop(), notificationTexts.pop(),displayScore.pop()];
            
            //parts to replace using templating from Flask
            //var id = -1;
            //logEvents.setParticipantID({{id}});

            var station = [];
            var returnThis = "";
            var writeLogToServer = false;
            var logsWrittenToServer = false;

            //(start health / health delta / noise / name / pos_h / pos_w / handle to gameScrore)
            
            var count = 6;
            count = {{count}};

            var id={{id}};

            
            gameScore.setDuration(duration);
            gameScore.setScoreDeltas(1,1,1);

            logEvents.setParticipantID(id);


            if(count>1){
                station[0] = new myStation(100, 6, 3, "Tinky", 40, 50, gameScore);
                station[1] = new myStation(100, 2, 1, "Dinky", 40, 350, gameScore);
            }
            if(count>2){
                station[2] = new myStation(100, 2, 1, "Loony", 40, 650, gameScore);
            }
            if(count > 3){
                station[3] = new myStation(100, 6, 3, "Shoony",340,50, gameScore);
            }
            if (count > 5){
                station[4] = new myStation(100, 2, 1, "Zoomy", 340, 350, gameScore);
                station[5] = new myStation(100, 6, 3, "Timmy", 340, 650, gameScore);
            }


            //var scores = new gameScore();


            var previousTime = 0;
            var previousMod = 999;
            var startTime = Date.now();
            var currentTime = 0;
            var currentMod = 0;



            //Log the time the activity starts to the Summary Database
            var summaryLog = new Object();
            summaryLog.eventType = "pethospital start";
            summaryLog.count = count;
            summaryLog.eventTime = Date.now();
            summaryLog.gameScore = gameScore.getScore();
            var myStringOutput2 = JSON.stringify(summaryLog);
            console.log(myStringOutput2);
            var request2 = new XMLHttpRequest();
            request2.open('POST', '/summary', true);
            request2.setRequestHeader('Content-Type', 'application/json');
            request2.send(myStringOutput2);

            function drawScreen() {
                if(writeLogToServer){
                    if(!logsWrittenToServer)
                    {
                        var summaryLog = new Object();
                        summaryLog.eventType = "pethospital end";
                        summaryLog.count = count;
                        summaryLog.eventTime = Date.now();
                        summaryLog.gameScore = gameScore.getScore();
                        //var myStringOutput2 = JSON.stringify(summaryLog);
                        //console.log(myStringOutput2);
                        var request2 = new XMLHttpRequest();
                        request2.open('POST', '/summary', true);
                        request2.setRequestHeader('Content-Type', 'application/json');
                        request2.send(JSON.stringify(summaryLog));
                        logEvents.pushLog();
                        logsWrittenToServer = true;
                    }                    
                }
                currentTime = Date.now();
//                if ((currentTime - previousTime ) > 1000)
                currentMod = currentTime % 1000;
                //console.log("the current mod is" + currentMod + " and the previous mod is " + previousMod);
                if (currentMod < previousMod)
                {
                    var allOK = true;
                    gameScore.tick();
                    var timeleft = gameScore.timeLeft();
                    var secondsLeft = gameScore.secondsLeft();
                    for (i in station)  {
                        if (!timeleft){
                            station[i].timeIsUp();
                            writeLogToServer = true;   
                        }
                        else {
                            station[i].decrement();
                            allOK = allOK && station[i].OK();
                            //console.log("station  "+ i + ", ok?"+ station[i].OK());
                        }
                    }
                    console.log("allOK "+ allOK);
                    console.log("timeleft "+ timeleft);
                    console.log("game score " + gameScore.getScore());
                    if (allOK&&timeleft) {
                        
                        gameScore.inc();
                        
                    }

                    //Check if it's time to notify.
                    //if it is- generate the notification and prepare the next one.
                    gameSeconds = duration-secondsLeft;
                    console.log("clock = "+ gameSeconds + " and next notification is at "+nextNotification[0]);
                    if ((duration- secondsLeft)>= nextNotification[0]){
                        notification(nextNotification[1],nextNotification[2], nextNotification[3]);
                        console.log("generate interruption");
                        nextNotification = [notificationTimes.pop(), notificationHeadings.pop(), notificationTexts.pop(), displayScore.pop()];

                    }

                
                    previousTime = currentTime;
                }

                previousMod = currentMod;
            }

            function gameLoop() {
                window.setTimeout(gameLoop, 100);
                drawScreen();
                returnThis = encodeURIComponent(logEvents.printLog());
                document.getElementsByTagName('logs').value = returnThis;
            }

            gameLoop();
            
        </script>

        
    </body>
</html>