{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="static/vendor/qrcode.js"></script>

<div id="centered">
<h3>Congratulations, training done... Now for the experiment</h3>

<h4>You need to:</h4>
<ul>
    <li>Log in on the virtual smartwatch on it's tab</li>
    <li><b>Receive messages on a simulated smartwatch</b><br>
        The two tabs that allow you to <b>switch</b> between the <b>Hospital</b> and the <b>Smartwatch.</b><br>
</li>
    <li>Messages may contain <b>valuable information.</b> <br>You should decide whether or not to accept the incoming messages.</li>
    <li>Messages come with audible notification, so please put on your <b>headphones</b>.<br>
    <li>To access the content of the message, you must click and drag on the arrows.</li>
 <img src="static/swipe1.gif" alt"animated GIF showing how to swipe" border="2" align="center" height =480></li>


<p><br><br><br>
<li>To start, please follow the instructions in the animation below</p>
<img src = "static/gameStart5.gif" alt"animated GIF showing how to begin the experiment" border="2" align="center" height =480></li>
</ul>

<br>
<br>
<form  method="post" action="after_learn">
    <input class="myButton" type="submit" id="submitbutton" name="submitbutton" value="Continue" height="20em" />
    
</form>

</div>




{% endblock %}