{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="static/vendor/qrcode.js"></script>
<style type="text/css">
input, textarea{
width: 180px;
margin-bottom: 5px;
}

#submitbutton {
margin-left: 10px;
margin-top: 5px;
width: 100px;  
height: 30px; //height control doesnt work :(

}

p {
	font-size: 10px
}


</style>

<h1>You have completed the learning block</h1>
<p>
You will continue with the experiment block where you will handle mobile phone messages<br> whilst managing several virtual pets in the pet hospital.<br><br>

Direct your phone browser to the experiment using one of the two options:<br><br>

1. Short url to copy into the address bar: <div id="result">
<script type="text/javascript">
//bit_url function
function bit_url(url) 
{ 
var url=url;
var username="frankbolton"; // bit.ly username
var key="R_620a1aee3e434f8fb69b6e4956db783a";
$.ajax({
url:"http://api.bit.ly/v3/shorten",
data:{longUrl:url,apiKey:key,login:username},
dataType:"jsonp",
success:function(v)
{
console.log(v);
var bit_url=v.data.url;
$("#result").html('<a href="'+bit_url+'" target="_blank">'+bit_url+'</a>');
}
});
}

var uid = {{uid}};

var mobAddress = window.location.origin+ "/sockets#/mobile?uid="+uid

bit_url(mobAddress);

</script> <br>
that can be reached using a shortcode


Please direct your phone to the address: <br></div>

<br>
<p>
2. Scan the QR barcode code:
<div id="qrcode"> </div>

</p>
<script type="text/javascript">
 

var qrcode = new QRCode(document.getElementById("qrcode"), {
	width : 200,
	height : 200
});

function makeCode () {		
	
	qrcode.makeCode(mobAddress);
}

makeCode();


</script>
Both of these should load the page with your participant ID pre-entered.<br>

<script type="text/javascript">//document.write(mobAddress);</script>
<p>
Once you have loaded the mobile page and logged in, Press the "Continue" button below.<br>
This will begin your task, please do not neglect you electronic cats!
</p>

<form  method="post" action="after_learn">
<input type="submit" id="submitbutton" name="submitbutton" value="Continue" />

</form>





{% endblock %}