{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="static/vendor/qrcode.js"></script>
<style type="text/css">
input, textarea{
width: 180px;
margin-bottom: 5px;
}

#submitbutton {
margin-left: 10px;
margin-top: 5px;
width: 100px;  
height: 30px; //height control doesnt work :(

}


</style>

<h1>You have completed the learning block</h1>
<p style="font-size:18px">
Please direct your phone to the address: <br><script type="text/javascript">

//bit_url function
function bit_url(url) 
{ 
var url=url;
var username="frankbolton"; // bit.ly username
var key="R_620a1aee3e434f8fb69b6e4956db783a";
$.ajax({
url:"http://api.bit.ly/v3/shorten",
data:{longUrl:url,apiKey:key,login:username},
dataType:"jsonp",
success:function(v)
{
console.log(v);
var bit_url=v.data.url;
$("#result").html('<a href="'+bit_url+'" target="_blank">'+bit_url+'</a>');
}
});
}

var uid = {{uid}};

var mobAddress = window.location.origin+ "/sockets#/mobile?uid="+uid




document.write(mobAddress);

bit_url(mobAddress);

</script> <br>
that can be reached using a shortcode
<div id="result"></div>

and enter your mechanical turk ID there.

<br>

Alternatively, scan the QR code below to 
</p>

 <div id="qrcode"> </div>
<script type="text/javascript">
var qrcode = new QRCode(document.getElementById("qrcode"), {
	width : 200,
	height : 200
});

function makeCode () {		
	
	qrcode.makeCode(mobAddress);
}

makeCode();

</script>
<p>
Once you have loaded the mobile page and logged in, Press the "Continue" button below.
This will begin your task, please do not neglect you electronic cats!
</p>

<form  method="post" action="after_learn">
<input type="submit" id="submitbutton" name="submitbutton" value="Continue" />

</form>


<script type="text/javascript">
$(document).ready(function()
{



$("#short").click(function()
{
var url=$("#url").val();
var urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
var urltest=urlRegex.test(url);
if(urltest)
{
bit_url(url);
}
else
{
alert("Bad URL");
}
});

});
</script>

//HTML Code
<input type="text" name="url" id="url"/> 
<input type="submit" id="short" value="Submit"/> 
<div id="result"></div>


{% endblock %}