{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="static/vendor/qrcode.js"></script>

<div id="centered">
<h3>Congratulations, training done... Now for the experiment</h3>

<h4>You need to:</h4>
<ul><li>Look after the pets (as in your previous task).</li>
    <li>Deak with interruptive text messages on a virtual smartwatch (some valuable so you shouldn't just ignore them all.)</li></ul>


<p>In addition to managing the pets, you will have to deal with incoming text messages on a virtual smart watch.</p>

<p>The current screen has two buttons on top that allow you to switch between the attending to the pet hospital or the smartwatch. <br>
Audible notifications will be made when you have recieved messages, so please put on your headphones.
</p>
<p>
To start the main experiment, please go to the mobile tab now and press the "login button".
Return to this page and press Continue below.
The animation at the bottom demonstrates what you need to do to:</p>




<img src = "static/gameStart.gif" alt"animated GIF showing how to begin the experiment" border="2" align="center">

<form  method="post" action="after_learn">
    <input type="submit" id="submitbutton" name="submitbutton" value="Continue" />
    
</form>

</div>




{% endblock %}