{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="static/vendor/qrcode.js"></script>

<div id="centered">
<h3>Congratulations, training done... Now for the experiment</h3>

<h4>You need to:</h4>
<ul><li><b>Look after the pets </b> - just like you did in the training session.</li>
    <li><b>Receive messages on a simulated smartwatch</b> - You should conciously decide whether or not to accept the incoming messages.<br>
        The two tabs that allow you to <b>switch</b> between the <b>Hospital</b> and the <b>Smartwatch.</b><br>
</li>
    <li>Messages come with audible notification, so please put on your <b>headphones</b>.<br>
    You need to swipe by clicking and dragging</li>
    <img src="static/swipe1.gif" alt"animated GIF showing how to swipe" border="2" align="center" height =480>


<p><br><br><br>
<li>To start, please follow the instructions in the animation below</p>
<img src = "static/gameStart5.gif" alt"animated GIF showing how to begin the experiment" border="2" align="center" height =480></li>
</ul>

<br>
<br>
<form  method="post" action="after_learn">
    <input type="submit" id="submitbutton" name="submitbutton" value="Continue" />
    
</form>

</div>




{% endblock %}