{% extends "base.html" %}
{% block content %}


<h1>Welcome to the multi-device HCI study:</h1>
<h2>Agreement for participation. </h2>

<style type="text/css">

label{
float: right;
width: 120px;
font-weight: bold;
}

input, textarea{
width: 180px;
margin-bottom: 5px;
}

textarea{
width: 300px;
height: 50px;
}

.boxes{
width: 1em;
}

#submitbutton{
margin-left: 20px;
margin-top: 5px;
width: 90px;
}

br{
clear: left;
}

</style>

<SCRIPT language=JavaScript>
<!--

//Accept terms & conditions script (by InsightEye www.insighteye.com)
//Visit JavaScript Kit (http://javascriptkit.com) for this script & more.

function checkCheckBox(f){
if (f.agree.checked == false )
{
alert('Please check the box to continue.');
return false;
}else
return true;
}
//-->
</SCRIPT>
<form action="/" method="POST" onsubmit="return checkCheckBox(this)">

<ul>
<li>I agree that I am willing to participate in the study titled "multi-device HCI study".</li>
<li>I declare that I received full explanation about the studies by Frank John Bolton.</li>
<li>I confirm that I am 18 years old or older.</li></ul>


<h3>The Study Procedure</h3>
<h4>Objectives</h4>
<p>My objective is to apply myself to try maximise the score in each session. <br>
The experiment objectives are to understand better human factors of intelligent notification systems in the context of performing a process management task.
</p>
<h4>Method</h4>
I will try to maximise the score, the score increases when all of the pet stations have a positive heath level. <br>
The pet health levels tend to decrease over time, and sometimes a mobile phone message will give a warning about a problem with one of the stations.<br>
Looking inside the station, and healing the station costs me some score. <br>
I will try to learn the behaviour, to keep all the stations healthy, without looking and healing too often.
<h4>Experiment particulars</h4>
The experiment will consist of 5 tasks of 5 minutes each. After each task you have a chance to answer a few questions about your experience.
This makes for an allocated experiment time of 30 minutes.<br>
The experiment will take place in the HCI experiment lab at Tel Aviv University. 
Up to 8 participants will perform the experiment at once and a total of 30 participants will be involved in each experiment.
<h4>Benefits and possible risks</h4>
<p>
The main personal benefit from your participation is the payment I will receive for participation.
This will include a basic amount of 40 sheckels and a performance bonus of up to 100 shekels that will be a score based lottery.<br>
Apart from that, the knowledge received may be of value to humanity and hopefully the development of further mobile phone notification mechanisms.
</p>
<p>
You will be performing a process management task that is quite demanding. You may experience tiredness at the end of the experiment, but no parts of the exam are harmful.
</p>




<h3>Rights</h3>
<p>I am free not to participate in the experiment, or to leave the experiment at any time, without any harm, damages to my rights, and without any sanction carried out against me.<br>
My personal privacy is protected in scientific publications.<br>
My questions regarding the study will be promptly answered by Eran Toch, 054-4623647, erant@post.tau.ac.il.</p>








<!--Enter your form contents here-->

<br />


<!--<label for="signature"></label>-->

<input type="checkbox" name="agree" class="boxes" /><b>I hereby declare that I gave my free consent and I understood all the above instructions:</b><br/>

<input type="submit" id="submitbutton" value="SUBMIT">
</form>


{% endblock %}
