{% extends "base.html" %}
{% block content %}


<h1>Welcome to the multi-device HCI study:</h1><br>
<h2>In the course of the experiment you will perform a task in this browser TAB, and at the same time deal with incoming messages to a mobile application on your phone. Your aim is to maximize the score that you achieve by deciding when to do intervene on the various virtual stations, and how best to deal with incoming communication.</h2>

<h3>Participant Requirements</h3>
<ol><li>You are 18 years old or older.
<li>You agree to authorize our study </ol>

<h3>The Study Procedure</h3>
<p>
In this study, you will be asked to:
<ol>	
<li>Carefully read the study details below and indicate your consent by checking in the checkbox.
<li>Answer the questions regarding your agreement to share some data in return of a financial reward.
<li>Perform game blocks whilst maximizing your score.
</ol></p>

<h3>Benefits</h3>
<p>The main personal benefit from your participation is the compensation provided through Mechanical Turk. 
<br>Apart from that, the knowledge received may be of value to humanity and hopefully the development of further privacy and security mechanisms.
</p>

<h3>Confidentiality</h3>
<p>Your confidentiality will be maintained in the following manner: <br>
By participating, you understand and agree that the data and information gathered during this study may be used by Tel Aviv University and published and/or disclosed by Tel Aviv University to others outside of Tel Aviv University. Your name and other direct personal identifiers will not be mentioned in any such publication or dissemination of the research data and/or results by Tel Aviv University. <br>
However, Tel Aviv University may be required to disclose your consent form, data and other personally identifiable information as required by law, regulation, subpoena or court order.
</p>

<h3>Rights</h3>
<p>
<ul><li>Your participation is voluntary. 
<li>You are free to stop your participation at any point. 
<li>Refusal to participate or withdrawal of your consent or discontinued participation in the study will not result in any penalty or loss of benefits or rights to which you might otherwise be entitled. 
<li>Please answer the questionnaire with full attention. 
<li>Invalid questionnaire (consistency check and logical tests will be randomly performed) will be discarded from the study and participant will not be paid.
</p>


<h3>Right to Ask Questions & Contact Information.</h3>
<p>If you have any questions about this study or you wish to withdraw your participation please contact (<a href="mailto:toch@post.tau.ac.il?Subject=Privacy experiment" target="_top">
toch@post.tau.ac.il</a>).</p>





<SCRIPT language=JavaScript>
<!--

//Accept terms & conditions script (by InsightEye www.insighteye.com)
//Visit JavaScript Kit (http://javascriptkit.com) for this script & more.

function checkCheckBox(f){
if (f.agree.checked == false )
{
alert('Please check the box to continue.');
return false;
}else
return true;
}
//-->
</SCRIPT>

<form action="/questions" method="GET" onsubmit="return checkCheckBox(this)">

<!--Enter your form contents here-->

<b>I am age 18 or older, I have read and understand the information above, I want to participate in this research and continue with the survey:<br><br>
<input type="checkbox" value="0" name="agree">
<input type="submit" value="Submit form">
<input type="button" value="Exit" onclick="document.location.href='/index.html';">
</form>


{% endblock %}
