<html>
  <head>
    {% if title %}
    <title>{{title}} - Tel Aviv University Industrial Engineering</title>
    {% else %}
    <title>Tel Aviv University Industrial Engineering</title>
    {% endif %}

  </head>
<!--insert the flashing functionality
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                                <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                {% endif %}
        {% endwith %}
        end of flashing functionality-->

  <body>
	<!-- Comment out the navigation after we've got the site figured out..-->	
	<div>Test navigation (Remove in live app):  <a href="/">Agreement</a>  <a href="/questions">Questions</a>  
	<a href="/stations">Stations</a>   <a href="/showsession">Show Sessions</a>    <a href="/after_questions">After</a>     <a href="/end">End</a>   <a href="/admin">Admin</a>   	<a href="/results">Results</a>
    	<hr> 
	<!-- -->
	{% block content %}{% endblock %}
  </body>
</html>
