{% extends "base.html" %}
{% block content %}




<div id="centered">
<h3>How long?</h3>
<p style="font-size:18px">You will perform an experiment consisting of:
    <ul>

<li>One {{learntime}} minute training session <br>
<li>{{numberOfSessions}} recorded sessions of {{exptime}} minutes each</p></ul>
    <h3>What am I supposed to do:</h3>
    Your goal is to gain as many points as you can....<br>
    <i>How does this work?</i><br>
    When <b>all</b> of the animals you're looking after have a positive health measure (more than 0),
    <br><b>and</b> you close up the view to the health...
    <br><b>Then</b> your score will increase.

<h3>Some more details for the Training Block</h3>
    (1) you don't see the details
    (2) all are above 100%
<ol><li>Remember, your objective is to maximize your score, this will be shown periodically on the top left hand corner of the screen like in the image below.<br>
<img src="static/training_block_score_arrow.gif" alt="arrow showing the score" height="150" ></li>

    <li>The health levels need to be positive to increase your score...<br>
        At the start of the session, these health levels are hidden. <br>
        Press "display" to see it (this costs you xx score). <br>
        Press "heal" to top your health up to 100% again (this costs you yy score).<br>
        It is possible to check in and then exit if you're happy with the health level.<br>
        The pets' health levels gradually decrease and need "Heal" interventions from time to time.<br>
    <img src="static/healthpositive.gif" alt="arrow showing the score" height="150" ></li>
    <li>Since both "view"Healing" causes the health level to reset to 100% costs you score, so don't press the heal button too frequently..<br>
        The pet is automatically hidden when the "heal" button is pressed.</li>
    <li>Remember... you must keep the pet health's hidden so that the score can increase.
    <img src="static/visibility.gif" alt="score increases only when the health of all the pets is hidden" height="300"><br></li>
    <li>Be sure to read the instructions after the training block... there's important information about what's to follow!</li>
</ol>

<p><b>Now you know what to do...<br> let's begin the training block by pressing the button below:
</b></p>
<form  method="post" action="instructions">
<input type="submit" id="submitbutton" name="submitbutton" value="Continue" />

</form>
</div>
{% endblock %}
