{% extends "base.html" %}
{% block content %}




<div id="centered">
<h3>You will perform an experiment consisting of</h3>
<p style="font-size:18px">
<ul>
<li>One {{learntime}} minute training session <br>
<li>{{numberOfSessions}} recorded sessions of {{exptime}} minutes each</p></ul>


<h3>Training Block</h3>
<ol><li>Your objective in the experiment is to try maximize your score, this will be shown periodically on the top left hand corner of the screen.<br>
<img src="static/training_block_score_arrow.gif" alt="arrow showing the score" height="150" ></li>
    
    <li>To increase your score, you need to keep all of the health measures for the pets above 0%.
The pets' health levels gradually decrease and need "Heal" interventions from time to time.<br>
    <img src="static/healthpositive.gif" alt="arrow showing the score" height="150" ></li>
    <li>"Healing" costs you score, so don't press the heal button too frequently..<br>
        The pet is automatically hidden when the "heal" button is pressed.</li>
    <li>You must keep the pet health's hidden so that the score can increase.
    <img src="static/visibility.gif" alt="score increases only when the health of all the pets is hidden" height="300"><br></li>

</ol>

<p><b>Now you know what to do...<br> let's begin the training block by pressing the button below:
</b></p>
<form  method="post" action="instructions">
<input type="submit" id="submitbutton" name="submitbutton" value="Continue" />

</form>
</div>
{% endblock %}
