{% extends "base.html" %}
{% block content %}



<div id="centered">
<h1>Instructions to perform the study</h1>
<p style="font-size:18px">
Your objective is to maximize your score in each session. <br>
The higher your score- the greater your odds of winning a $5 bonus!
</p>
<h3>Method</h3>
<p style="font-size:18px">To have your score increase, all of the stations must have a positive health level and the health of all the stations must be hidden. <br>
The pet health levels decrease over time.<br>
Topping up the health is done by pressing the heal "button" - don't do it excessively as it's costly to your score.<br></p>

<h3>Study particulars</h3>
<p style="font-size:18px">
Before the study you will perform a {{learntime}} minute training block to show you how the system behaves.<br>
The study will consist of {{numberOfSessions}} tasks of {{exptime}} minutes each.<br> 
After each task you have a chance to answer a few questions about your experience.<br>
Please answer these honestly based on your personal experience, there are no incorrect answers.<br>
This makes for an allocated experiment time of {{totalTime}} minutes.<br><br>
</p>

<form  method="post" action="instructions">
<input type="submit" id="submitbutton" name="submitbutton" value="Continue" />

</form>
</div>
{% endblock %}