{% extends "base.html" %}
{% block content %}
<h1>Instructions to perform the study</h1>

Your objective is to apply yourself to maximise your score in each session. The higher your score- the greater your odds of winning a $5 bonus!
</p>
<h3>Method</h3>
To have your health increase, All of the stations must a positive heath level and the health of all the stations must be hidden. <br>
The pet health levels decrease over time.<br>
Topping up the health is done by pressing the heal "button" - don't do it excessively as it's costly to your score.<br>

<h3>Experiment particulars</h3>
The experiment will consist of 3 tasks of 5 minutes each.<br> 
After each task you have a chance to answer a few questions about your experience.<br>
Please answer these honestly based on your personal experience, there are no incorrect answers.<br>
This makes for an allocated experiment time of 20 minutes.<br><br>


<form  method="post" action="instructions">
<input type="submit" value="SUBMIT" />

</form>
{% endblock %}