{% extends "base.html" %}
{% block content %}
<h1>Questions</h1>
<div><b>please enter the following data to facilitate the experiment</b></div>

<style type="text/css">
#submitbutton{
margin-left: 20px;
margin-top: 5px;
width: 90px;
}
</style>

<SCRIPT language=JavaScript>
<!--

//Accept terms & conditions script (by InsightEye www.insighteye.com)
//Visit JavaScript Kit (http://javascriptkit.com) for this script & more.

function checkCheckBox(f){
    if (f.gender.value <1 ){
        alert('Please enter a gender value.');
        return false;
    }
    if (f.age.value =="-1" ){
        alert('Please enter an age');
        return false;
    }
    if (f.turkNickName.value.length == 0) {
        alert('Please enter a subject ID number or Mechanical Turk Nickname');
        return false;
    }
    else
        return true;
}
//-->
</SCRIPT>


<table>
    <tr><form name="RegisterUser" method="post" action="questions"  onsubmit="return checkCheckBox(this)">
<label><td style="width:50%" >Your Mechanical Turk WorkerId</label> </td><td><input type="string" name="turkNickName"></td></tr>
<tr><td>Age:</td><td><!--<input type="string" name="age">-->
<select name="age">
	<option value="-1" disabled="disabled" selected="selected">Please select your age</option>
	<option value="18,20">18-20</option>
<option value="21,24">21-24</option>
<option value="25,30">25-30</option>
<option value="31,40">31-40</option>
<option value="41,50">41-50</option>
<option value="51,60">51-60</option>
<option value="61,70">61-70</option>
<option value="70,0">\>70</option>
</select></td></tr>
<!--<tr><td style="width:50%">Salary:</td><td><input type="string" name="salaryRangefoo"></td></tr>-->
<tr><td>Country:</td><td><input type="string" name="country"></td></tr>


<tr><td>Gender:</td>
<td><input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female 
<input type="radio" name="gender" value="other/not shared">Prefer not to disclose / Other</td></tr>
</table>	




<br>
<input type="submit" value="SUBMIT" />

</form>
{% endblock %}
