{% extends "base.html" %}
{% block content %}
<h1>Questions</h1>
<div id="centered">
<h3>Please enter the following data to facilitate the experiment.</h3>




<script src="/static/modernizr-1.6.min.js"></script>
<SCRIPT language=JavaScript>

//background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_8057db35801269ba2c626e2b2995936b.png);
//<!--

//Accept terms & conditions script (by InsightEye www.insighteye.com)
//Visit JavaScript Kit (http://javascriptkit.com) for this script & more.

function checkCheckBox(f){

	//load some content into hidden variables
	document.getElementById('touch').value = Modernizr.touch
	document.getElementById('browserType').value = navigator.userAgent
		
	//now perform the tests.
    if (f.gender.value <1 ){
        alert('Please enter a gender value.');
        return false;
    }
    if (f.age.value =="-1" ){
        alert('Please enter an age');
        return false;
    }
    if (f.turkNickName.value.length == 0){
        alert('Please enter a subject ID number or Mechanical Turk ID');
        return false;
    }
    else
        return true;
}


//-->
</SCRIPT>

<form name="RegisterUser" method="post" action="questions"  onsubmit="return checkCheckBox(this)">
<table>
    <tr>
<td style="width:40%" >Participant ID / AMT ID:
<!--<label><td style="width:50%" >Mechanical Turk WorkerId</label> -->
 </td><td><input type="number" name="turkNickName"></td></tr>

<tr><td>Age:</td><td><!--<input type="string" name="age">-->
<select name="age">
	<option value="-1" disabled="disabled" selected="selected">Please select your age</option>
	<option value="18,20">18-20</option>
<option value="21,24">21-24</option>
<option value="25,30">25-30</option>
<option value="31,40">31-40</option>
<option value="41,50">41-50</option>
<option value="51,60">51-60</option>
<option value="61,70">61-70</option>
<option value="70,0">\>70</option>
</select></td></tr>
<!--<tr><td style="width:50%">Salary:</td><td><input type="string" name="salaryRangefoo"></td></tr>-->
<tr><td>Country:</td><td><input type="string" name="country"></td></tr>




	

<tr><td>Gender:</td>
<td><input type="radio" name="gender" value="male" id="male" ><label for="male" >Male</label>
<input type="radio" name="gender" value="female" id="female" ><label for="female" >Female</label>
<input type="radio" name="gender" value="other/not shared" id="other/not shared" ><label for="other/not shared">Prefer not to disclose / Other</label>

</td></tr>
</table>	
<input type="hidden" id="touch" name="touch" value="[return value from product function]">
<input type="hidden" id="browserType" name="browserType" value="[return value from product function]"
<br>
<input type="submit" name="submitbutton" id="submitbutton" value="Continue" />

</form>
</div>
{% endblock %}
