{% extends "base.html" %}
{% block content %}
<h1>Questions</h1>
<div><b>please enter the following data to facilitate the experiment</b></div>

<table>
<tr><form name="AddGroup" method="post" action="questions">
<label><td style="width:50%" >ID of the station (text)</label> </td><td><input type="string" name="stationID"></td></tr>
<!--<tr><td style="width:50%">Salary:</td><td><input type="string" name="salaryRangefoo"></td></tr>-->
<tr><td>Start Health:</td><td><input type="string" name="health"></td></tr>
<tr><td>Health Decay rate (%/s):</td><td><input type="string" name="decayrate"></td></tr>
<tr><td>Noise added per update (%):</td><td><input type="string" name="noiseAdded"></td></tr>
<tr><td>View Cost:</td><td><input type="string" name="country"></td></tr>
<tr><td>Country:</td><td><input type="string" name="country"></td></tr>
<tr><td>:</td><td><input type="string" name="country"></td></tr>


</table>	




<br>
<input type="submit" value="SUBMIT" />

</form>
{% endblock %}
