{% extends "base.html" %}
{% block content %}
<h1>Show Sessions</h1>
UserID {{userID}} <br>
stageNumber {{stageNumber}}<br>
fullName {{fullName}} <br>
idnumber {{idnumber}} <br>
address {{address}}   <br> 
name1 {{name1}}<br>
date {{date}}<br>
agree {{agreee}} <br>   
turkNickName {{turkNickName}}<br>
age {{age}}<br>
date {{date}}<br>
sex {{sex}}<br>
salaryRange {{salaryRange}}<br>
stageNumber {{stageNumber}}<br>
Score {{score}}<br>
Group {{group}} [0:preview  1: no preview. 2:no interruption]<br>





{% endblock %}
    
    