{% block content %}

<!doctype html>

<body>
<script src="/static/jquery.js"></script>
<script src="/static/gameScore.js"></script>
<script src="/static/myStation.js"></script>
<script src="static/vendor/socket.io.js"></script>

<script type="text/javascript">
//default parameters (to allow the templating engine to automatically build the experiment if it decides to.
//var station_health = typeof arguments[0] === 'number' ? arguments[0] : 100;
var gameduration = 300;
{{gameduration|safe}};


gameScore.setDuration(gameduration);

var turkNickName = "-1";
turkNickName = {{turkNickName}};

var socket= io.connect('/a');


//var itimes = [20000,40000,60000,80000,12000];
//var imessageVal = [true, false, true, false, true];
//var notifications = [{"missed":"Missed: cafeteria", "ring":"Incoming", "full": "Lunch special today on Hamburger", "preview":"Incoming:Cafeteria", 
//"messageHeader":"Message:", "messageButton":"Done", "previewButton":"Show", "duration":10000, "ringDuration":4000, "swipesy":-1, "swipesyDuration":4000},{"missed":"Missed:Nurse", "ring":"Incoming", "full":messageText , "preview":"Incoming:Nurse", 
//"messageHeader":"Message:", "messageButton":"Done", "previewButton":"Show", "duration":100000, "ringDuration":4000, "swipesy":-1, "swipesyDuration":4000}];


//itimes = {{iTimes}};
//imessageVal = {{iMessageVal}};


var messageindex=0;
var startTime = new Date().getTime(),
    time = 0,
    elapsed = '0.0';
var timeNow = new Date().getTime(),
    time = 0,
    elapsed = '0.0';
var a = false;
var healths=[];
var station =[];
var logging = [];

//{{stationSetup|safe}}
data = {{stations | safe}}

var station = [];
for (i in data){
	station[i]= new myStation(data[i].station_health, data[i].station_hDelta, data[i].station_noise, data[i].viewcost, data[i].id, data[i].topOffset, data[i].leftOffset, gameScore, logging);
}


interruptions = {{interruptions | safe}}
var itimes=[]
var imessageVal=[]
for (i in interruptions){
	itimes[i] = interruptions[i].time
	imessageVal[i]= interruptions[i].value
	
}


var jstrainingMode = false;

var PytrainingMode = {{trainingMode}};
if (PytrainingMode) {
    jstrainingMode = true;
    gameScore.setLearnMode(true);
}
loop();



const FRAME_RATE =10;
var intervalTime = 1000/FRAME_RATE;
var loopCounter=0;
var flag = false;

function loop() {
	//log();
    loopCounter +=1;
    timeNow = new Date().getTime(),
    	time = 0,
    	elapsed = '0.0';
    
    
    if (loopCounter > FRAME_RATE-1) { //we are in a 10x per-second action
    
      // This block of code generates the interruptions on the mobile phone. 
      //The times are in the vector itimes and the messages are in the imessages vector.
      if((timeNow - startTime) >= itimes[messageindex]){
        genInteruption(messageindex);
    		messageindex++;
    	}
       //logging.push("peridic logging, "+gameScore.secondsLeft()+", "+stationdata); 
		//code to set a "time-is-up" state within the station objects
		if (gameScore.timeLeft() == false){
			for (i=0; i<station.length; i+=1) {
				station[i].timeIsUp();
			}
		}
        gameScore.tick();
        //console.log("inside per-second code");
        if (gameScore.timeLeft()) {
            var i;
            for (i=0; i<station.length; i+=1) {
                station[i].decrement();
            }
    	}
        else {
            if (!flag){
                alert('session over, please close and press the CONTINUE button');
                flag = true;
            }
        }
        
        //increment score if all stations have positive health and are hidden.
        var inc = true;
        for (i=0; i<station.length; i+=1) {
            if ((station[i].OK()) && (!station[i].get_vis())) {
            }
            else {
            inc = false;
            }
        }
        //console.log("increment?" + inc)
        if (inc) {
            gameScore.inc(); 
        }
        loopCounter =0;       
    }
	
    window.setTimeout(loop, intervalTime);
}


function genInteruption(messageindex){
  console.log("Interruption generated- index:  "+messageindex);
	console.log(imessageVal[messageindex]);
  if (imessageVal[messageindex]) 
  { 
    for (i2=0; i2<station.length; i2+=1) {
        healths[i2-1]=station[i2].get_health();
      }
    var indexMax = healths.indexOf(Math.max.apply(Math, healths));
    console.log(healths);
    console.log("indexMax: "+indexMax);
    console.log("health "+healths[indexMax]);
    //console.log("from function: "+station[indexMax].get_health());
    //This is where I need to generate valuable messages 
    //kill the max station
    
    if (indexMax ==0) indexMax = 1;
    station[indexMax].killstation();
    var messageText = "Station "+indexMax+" needs help. get to it."
    var ValidNotification = {"missed":"Missed:Nurse", "ring":"Incoming", "full":messageText ,
"messageHeader":"Message:", "messageButton":"Done", "previewButton":"Show", "duration":600000, "ringDuration":30000, "preview":"Incoming:Nurse", "swipesy":2, "swipesyDuration":10000};
	  notify(ValidNotification);
	}
    else {
      console.log("bogus message");
      
      //This is where I need to generate bogus messages 
       var Bogusnotification = {"missed":"Missed: cafeteria", "ring":"Incoming", "full": "Lunch special today on Hamburger", 
"messageHeader":"Message:", "messageButton":"Done", "previewButton":"Show", "duration":60000, "ringDuration":30000, "preview":"Incoming:Cafeteria", "swipesy":-1, "swipesyDuration":-1};
	  notify(Bogusnotification);
    }
}

</script>
<script src="static/engine.js"></script>
<body>
</body>
{% endblock %}