{% extends "base.html" %}
{% block content %}

<!doctype html>

<body>
<script src="/static/jquery.js"></script>
<!--<script src="TextButton.js"></script>-->
<script src="/static/gameScore.js"></script>
<script src="/static/myStation.js"></script>
<script type="text/javascript">
//default parameters (to allow the templating engine to automatically build the experiment if it decides to.
//var station_health = typeof arguments[0] === 'number' ? arguments[0] : 100;
var gameduration = 60;
{{gameduration|safe}};
gameScore.setDuration(gameduration);

//var stationconfig = [[100,1,0,4,120,50][100,1,0,4,120,400][100,1,0,4,550,50]];
//[100,1,0,4,120,750][100,1,0,4,550,50]];

//screen size 1024 x 768
var canvasHTML = "<div style=\"position: absolute; top: 40px; left: 10px;\">";
canvasHTML +="<canvas id=\"background\" width=\"964\" height=\"838\" style=\"border:1px solid #000000;\">Your browser does not support HTML 5 Canvas. </canvas></div>";
document.writeln(canvasHTML);
console.log("writing CanvasHTML to the page");
var theCanvas = document.getElementById("background");
var context = theCanvas.getContext("2d"); 
//context.fillStyle = "#00000";
//context.strokeRect(0, 0, 800, 600);

var station =[];
var logging = [];
//station[1] = new myStation(100,1,0,4,"Station1",120,50, gameScore,logging);
//station[2] = new myStation(100,1,0,4,"Station2",120,400, gameScore,logging);
//station[3] = new myStation(100,1,0,4,"Station3",120,750, gameScore,logging);
//station[4] = new myStation(100,1,0,4,"Station4",550, 50, gameScore,logging);

{{stationSetup|safe}}
loop();

function log () {
    var LogObject = {};
    LogObject['userID']=
    LogObject['score']=gameScore.getscore();
    LogObject['secondsLeft']=gameScore.secondsLeft();
    
    console.log(LogObject);
    
    var myjson =JSON.stringify(LogObject, null,2);
    console.log(myjson);
    $.ajax({type: "POST", url:'/log', data:myjson, contentType:'application/json'});
}


function eventLog(stationNumber, stationEvent) {
    var LogObject = {};

    LogObject['score']=gameScore.getscore();
    LogObject['secondsLeft']=gameScore.secondsLeft();
    LogObject['stationNumber']=stationNumber;
    LogObject['stationEvent']=stationEvent;
    for (x in station) {
       LogObject['station '+x+' health'] = station[x].get_health();
    }
    
    var myjson =JSON.stringify(LogObject, null, 2);
    console.log(myjson);
    $.ajax({type: "POST", url:'/eventLog', data:myjson, contentType:'application/json'});

}

const FRAME_RATE =10;
var intervalTime = 1000/FRAME_RATE;
var loopCounter=0;
function loop() {
    loopCounter +=1;
    if (loopCounter > FRAME_RATE-1) { //we are in a per-second action
        //var stationdata = '';
        //for (x in station) {
        //    stationdata += x +", "+station[x].get_health()+", ";
        //}
        //logging.push("peridic logging, "+gameScore.secondsLeft()+", "+stationdata); 
        gameScore.tick();
        console.log("inside per-second code");
        if (gameScore.timeLeft()) {
            var i;
            for (i=1; i<station.length; i+=1) {
                station[i].decrement();
            }
            
        }
        
        //increment score if all stations have positive health and are hidden.
        var inc = true;
        for (i=1; i<station.length; i+=1) {
            if ((station[i].OK()) && (!station[i].get_vis())) {
            }
            else {
            inc = false;
            }
           
        }
        console.log("increment?" + inc)
        if (inc) {
            gameScore.inc(); 
        }
        
        loopCounter =0;
        
    }
    window.setTimeout(loop, intervalTime);
}


</script>


<body>

</body>
{% endblock %}