{% block content %}

<!doctype html>

<body>
<base target="_parent" />
    
<script src="/static/jquery.js"></script>
<script src="/static/gameScore.js"></script>
<script src="/static/myStation.js"></script>
<script src="/static/eventLog.js"></script>
<script src="static/vendor/socket.io.js"></script>
<style>
body {
    overflow: hidden;
}


</style>
<script type="text/javascript">
//default parameters (to allow the templating engine to automatically build the experiment if it decides to.
//var station_health = typeof arguments[0] === 'number' ? arguments[0] : 100;
var gameduration = 300;
{{gameduration|safe}};


var i = 1;
var j = 1;
var k = 1;
i = {{scoreIncrease}};
j = {{healCost}};
k = {{viewCost}};


gameScore.setDuration(gameduration);
gameScore.setScoreDeltas(i,j,k);


var turkNickName = "-1";
turkNickName = {{turkNickName}};

var socket= io.connect('/a');





var messageindex=0;
var startTime = new Date().getTime(),
    time = 0,
    elapsed = '0.0';
var timeNow = new Date().getTime(),
    time = 0,
    elapsed = '0.0';
var a = false;
var healths=[];
var station =[];
var logging = [];
var started = false;
//{{stationSetup|safe}}
data = {{stations | safe}}


var station = [];
for (i in data){
	station[i]= new myStation(data[i].station_health, data[i].station_hDelta, data[i].station_noise, data[i].id, data[i].topOffset, data[i].leftOffset, gameScore, logging);
}
interruptions = {{interruptions | safe}};
console.log ("Interruptions JSON: "+ interruptions);

var itimes=[];
var imessageVal=[];
var iswipesyCount=[];
for (i in interruptions){
    itimes[i] = interruptions[i].time;
    imessageVal[i]= interruptions[i].value;
    iswipesyCount[i]=interruptions[i].swipesyCount;
	
}


var jstrainingMode = false;

var PytrainingMode = {{trainingMode}};
if (PytrainingMode) {
    jstrainingMode = true;
    gameScore.setLearnMode(true);
}
loop();


const FRAME_RATE =10;
var intervalTime = 1000/FRAME_RATE;
var loopCounter=0;
var flag = false;
var answer = false;
var redirectStarted = false;

function loop() {
	//log();
    started = true;
    loopCounter +=1;
    timeNow = new Date().getTime(),
    	time = 0,
    	elapsed = '0.0';
    
    
    if (loopCounter > FRAME_RATE-1)  {//we are in a 10x per-second action
    
      // This block of code generates the interruptions on the mobile phone. 
      //The times are in the vector itimes and the messages are in the imessages vector.
      if((timeNow - startTime) >= itimes[messageindex]){
        genInteruption(messageindex);
    		messageindex++;
    	}
       //logging.push("peridic logging, "+gameScore.secondsLeft()+", "+stationdata); 
		//code to set a "time-is-up" state within the station objects
		if (gameScore.timeLeft() == false){
			for (i=0; i<station.length; i+=1) {
				station[i].timeIsUp();
			}
		}
        gameScore.tick();
        //console.log("inside per-second code");
        if (gameScore.timeLeft()) {
            var i;
            for (i=0; i<station.length; i+=1) {
                station[i].decrement();
            }
    	}
        else {
            //if (!flag){
            //    alert('session over, please close and press the CONTINUE button');
            //    flag = true;
            //}

            if(!answer) {
                answer = confirm("Session over, press OK to continue")
            }
        }

        
        //increment score if all stations have positive health and are hidden.
        var inc = true;
        for (i=0; i<station.length; i+=1) {
            if ((station[i].OK()) && (!station[i].get_vis())) {
            }
            else {
            inc = false;
            }
        }
        //console.log("increment?" + inc)
        if (inc) {
            gameScore.inc(); 
        }
        loopCounter =0;       
    }

    if (answer&&!redirectStarted){
              eventLog(-1, "session over and confirmed");
              if (!gameScore.getLearnMode()){
                  if ("False" == "{{multipleDevices}}"){
                      console.log("1");
                      window.location.assign("/after_questions")
                      redirectStarted = true;
                  }
                  else {
                      window.location.assign("/after_questions")
                      console.log("2");
                      redirectStarted = true;
                  }
              }
              else {
                  //window.location.href="/after_learn";
                  if ("False"=="{{multipleDevices}}"){
                      window.location.assign("/stations_mobile")
                      console.log("3");
                      redirectStarted = true;
                  }
                  else {
                      window.location.assign("/after_learn");
                      console.log("4");
                      redirectStarted = true;
                  }
              }
            console.log("5");
            }
            //else{
              //alert("You have to press Continue to ");
            //}

        //}

    window.setTimeout(loop, intervalTime);
}


function genInteruption(messageindex){
  console.log("Interruption generated- index:  "+messageindex + ". currentInterruptVal: " + imessageVal[messageindex]);
    if (imessageVal[messageindex])
  { 
    for (i2=0; i2<station.length; i2+=1) {
        healths[i2]=station[i2].get_health();
      }
    var indexMax = healths.indexOf(Math.max.apply(Math, healths));
    console.log("healths before: " + healths+". Imax: "+ indexMax);
    //kill the max station
    //if (indexMax ==0) indexMax = 1;
    station[indexMax].killstation();
    
    //test code
    for (i2=0; i2<station.length; i2+=1) {
        healths[i2]=station[i2].get_health();
    }
    console.log("healths after: " + healths+". Imax: "+ indexMax);
    //end test code
    
    var ValidNotification = interruptions[messageindex];
    ValidNotification.full = "Pet "+(indexMax+1)+" needs help. get to it.";
    notify(ValidNotification);
	}
    else {
      console.log("bogus message");
      var Bogusnotification = interruptions[messageindex]
      Bogusnotification.full = "Lunch special today on Hamburger";
      notify(Bogusnotification);
    }
}

</script>
<script src="static/engine.js"></script>
<body>
</body>
{% endblock %}